# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Build directories
cmake-build-*/
build/

# IDE specific files
.idea/
*.suo
*.user
.vs/

# Compiled files
*.o
*.obj
*.exe
*.out
*.app
*.dll
*.dylib
*.so

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db